// Color variables

$text: #718096;
$article: #4a5568;
$heading: #2d3748;
$primaryLighter: #ebf4ff;
$primaryLight: #a3bffa;
$primary: #667eea;
$primaryDark: #5a67d8;
$primaryDarker: #434190;
$secondaryLighter: #faf5ff;
$secondaryLight: #d6bcfa;
$secondary: #9f7aea;
$secondaryDark: #805ad5;
$secondaryDarker: #553c9a;
$omegaLighter: #edf2f7;
$omegaLight: #e2e8f0;
$omega: #a0aec0;
$omegaDark: #718096;
$omegaDarker: #2d3748;
$successLight: #f0fff4;
$success: #48bb78;
$errorLight: #fff5f5;
$error: #f56565;
$white: #fff;
$background: #f8f8f8;
$contentBg: #fff;
$headerBg: #fff;
$footerBg: #fff;
$mute: #e2e8f0;
$highlight: #edf2f7;
